body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.content {
    padding: 20px;
}

.header {
    padding: 20px;
    background: #252c41;
    border-bottom: 1px solid #999;
}

.logo {
    color: #000;
    font-size: x-large;
}

.header a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 5px;
}

.header a:hover {
    color: #f1404b;
}

.header small {
    color: #666;
}

.header .active {
    color: #dddfe6;
}


/* html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%} */


/* body{margin:0} */

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

figcaption,
figure,
main {
    display: block
}


/* hr{
  box-sizing:content-box;height:0;overflow:visible
} */


/* a{background-color:transparent;-webkit-text-decoration-skip:objects} */

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

hr {
    border: 0;
    border-top: 1px solid #dadada;
    margin: 0 0 1.25rem 0
}

::-moz-selection {
    background: rgba(246, 208, 0, 0.99);
    color: #253951
}

::selection {
    background: rgba(246, 208, 0, 0.99);
    color: #253951
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.25rem 0
}

ul li {
    position: relative;
    padding-left: 1.875rem;
    margin-bottom: .3125rem
}

ul li:before {
    content: '\2014';
    color: #a0a0a0;
    position: absolute;
    left: 0
}

table {
    width: 100%;
    text-align: left;
    font-size: 1em;
    border-collapse: collapse;
    margin: 0 0 1.25rem 0
}

table th,
table td {
    border: 2px solid #f5f5f5;
    vertical-align: middle;
    padding: .625rem .9375rem
}

@media (min-width: 768px) {
    table th,
    table td {
        padding: .8125rem 1.25rem
    }
}

table th a,
table td a {
    border-color: #333
}

table th {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    background-color: #f5f5f5;
    border-color: #ececec
}

.table-responsive {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0 0 1.25rem 0
}

@media (min-width: 768px) {
    .table-responsive {
        overflow-x: visible
    }
}

.table-responsive table {
    min-width: 43.75rem;
    margin: 0
}

@media (min-width: 768px) {
    .table-responsive table {
        min-width: 0;
        margin: 0
    }
}

button {
    border: 0;
    padding: 0;
    background-color: transparent
}

button:focus {
    outline: none
}

code,
kbd,
tt {
    font-family: "Source Code Pro", monospace;
    color: #c0341d;
    background-color: #fcefed;
    border-radius: .1875rem;
    padding: .125rem .375rem .1875rem .375rem
}

pre {
    overflow: auto;
    border-left: 8px solid #3c4654;
    margin: 0 0 1.25rem 0;
    -webkit-overflow-scrolling: touch
}

pre code {
    color: #f8f8f2;
    background-color: transparent;
    border-radius: 0;
    padding: 0
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
        display: block !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
        display: inline !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important
    }
    table.visible-md {
        display: table !important
    }
    tr.visible-md {
        display: table-row !important
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline {
        display: inline !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 1200px) {
    .visible-lg {
        display: block !important
    }
    table.visible-lg {
        display: table !important
    }
    tr.visible-lg {
        display: table-row !important
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important
    }
}

@media (min-width: 1200px) {
    .visible-lg-block {
        display: block !important
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline {
        display: inline !important
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline-block {
        display: inline-block !important
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important
    }
}

.btn {
    border-bottom: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: inline-block;
    margin: 0 0 1.25rem 0
}

.btn--full-width {
    display: block;
    width: 100%
}

.btn--rounded {
    border-radius: 3.125rem
}

.btn--dark,
.hero-subheader .btn--github,
.hero-subheader .btn--w-arrow-down {
    color: #fff;
    background-color: #253951;
    padding: .5625rem 1.5625rem;
    transition: color .2s, background-color .2s
}

@media (min-width: 768px) {
    .btn--dark,
    .hero-subheader .btn--github,
    .hero-subheader .btn--w-arrow-down {
        padding: .8125rem 2.1875rem
    }
}

.btn--dark:hover,
.hero-subheader .btn--github:hover,
.hero-subheader .btn--w-arrow-down:hover,
.btn--dark:focus,
.hero-subheader .btn--github:focus,
.hero-subheader .btn--w-arrow-down:focus,
.btn--dark:active,
.hero-subheader .btn--github:active,
.hero-subheader .btn--w-arrow-down:active {
    color: #253951;
    background-color: #f6d000
}

.btn--w-icon .icon,
.btn--w-icon .sections-list ul li.has-submenu::after,
.sections-list ul .btn--w-icon li.has-submenu::after,
.btn--w-icon .example a::after,
.example .btn--w-icon a::after {
    float: right;
    font-size: 1.375rem;
    margin-left: .75rem;
    position: relative;
    bottom: -.125rem
}

.btn--w-icon-left .icon,
.btn--w-icon-left .sections-list ul li.has-submenu::after,
.sections-list ul .btn--w-icon-left li.has-submenu::after,
.btn--w-icon-left .example a::after,
.example .btn--w-icon-left a::after {
    float: left;
    margin-left: 0;
    margin-right: .75rem
}

.btn--read-more {
    text-transform: uppercase
}

.btn--read-more .icon,
.btn--read-more .sections-list ul li.has-submenu::after,
.sections-list ul .btn--read-more li.has-submenu::after,
.btn--read-more .example a::after,
.example .btn--read-more a::after {
    display: inline-block;
    margin-left: .625rem;
    transition: transform .2s
}

.btn--read-more:hover .icon,
.btn--read-more:hover .sections-list ul li.has-submenu::after,
.sections-list ul .btn--read-more:hover li.has-submenu::after,
.btn--read-more:hover .example a::after,
.example .btn--read-more:hover a::after,
.btn--read-more:focus .icon,
.btn--read-more:focus .sections-list ul li.has-submenu::after,
.sections-list ul .btn--read-more:focus li.has-submenu::after,
.btn--read-more:focus .example a::after,
.example .btn--read-more:focus a::after,
.btn--read-more:active .icon,
.btn--read-more:active .sections-list ul li.has-submenu::after,
.sections-list ul .btn--read-more:active li.has-submenu::after,
.btn--read-more:active .example a::after,
.example .btn--read-more:active a::after {
    -webkit-transform: translate(.3125rem, 0);
    -moz-transform: translate(.3125rem, 0);
    -ms-transform: translate(.3125rem, 0);
    transform: translate(.3125rem, 0)
}

.content>:first-child {
    margin-top: 0
}

.error-404 {
    background-color: #E8F2FC;
    text-align: center
}

.error-404 .align-container {
    height: 100vh
}

.error-404__title {
    color: #253951;
    font-weight: normal;
    font-size: 1.75em;
    margin-top: 0
}

@media (min-width: 768px) {
    .error-404__title {
        font-size: 2.5em
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container::before,
.container::after {
    content: ' ';
    display: table
}

.container::after {
    clear: both
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container-fluid::before,
.container-fluid::after {
    content: ' ';
    display: table
}

.container-fluid::after {
    clear: both
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.row::before,
.row::after {
    content: ' ';
    display: table
}

.row::after {
    clear: both
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left
}

.col-xs-1 {
    width: 8.3333333333%
}

.col-xs-2 {
    width: 16.6666666667%
}

.col-xs-3 {
    width: 25%
}

.col-xs-4 {
    width: 33.3333333333%
}

.col-xs-5 {
    width: 41.6666666667%
}

.col-xs-6 {
    width: 50%
}

.col-xs-7 {
    width: 58.3333333333%
}

.col-xs-8 {
    width: 66.6666666667%
}

.col-xs-9 {
    width: 75%
}

.col-xs-10 {
    width: 83.3333333333%
}

.col-xs-11 {
    width: 91.6666666667%
}

.col-xs-12 {
    width: 100%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-pull-1 {
    right: 8.3333333333%
}

.col-xs-pull-2 {
    right: 16.6666666667%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-4 {
    right: 33.3333333333%
}

.col-xs-pull-5 {
    right: 41.6666666667%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-7 {
    right: 58.3333333333%
}

.col-xs-pull-8 {
    right: 66.6666666667%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-10 {
    right: 83.3333333333%
}

.col-xs-pull-11 {
    right: 91.6666666667%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-push-1 {
    left: 8.3333333333%
}

.col-xs-push-2 {
    left: 16.6666666667%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-4 {
    left: 33.3333333333%
}

.col-xs-push-5 {
    left: 41.6666666667%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-7 {
    left: 58.3333333333%
}

.col-xs-push-8 {
    left: 66.6666666667%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-10 {
    left: 83.3333333333%
}

.col-xs-push-11 {
    left: 91.6666666667%
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-offset-0 {
    margin-left: 0%
}

.col-xs-offset-1 {
    margin-left: 8.3333333333%
}

.col-xs-offset-2 {
    margin-left: 16.6666666667%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-4 {
    margin-left: 33.3333333333%
}

.col-xs-offset-5 {
    margin-left: 41.6666666667%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-7 {
    margin-left: 58.3333333333%
}

.col-xs-offset-8 {
    margin-left: 66.6666666667%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-10 {
    margin-left: 83.3333333333%
}

.col-xs-offset-11 {
    margin-left: 91.6666666667%
}

.col-xs-offset-12 {
    margin-left: 100%
}

@media (min-width: 768px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left
    }
    .col-sm-1 {
        width: 8.3333333333%
    }
    .col-sm-2 {
        width: 16.6666666667%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-4 {
        width: 33.3333333333%
    }
    .col-sm-5 {
        width: 41.6666666667%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-7 {
        width: 58.3333333333%
    }
    .col-sm-8 {
        width: 66.6666666667%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-10 {
        width: 83.3333333333%
    }
    .col-sm-11 {
        width: 91.6666666667%
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-pull-0 {
        right: auto
    }
    .col-sm-pull-1 {
        right: 8.3333333333%
    }
    .col-sm-pull-2 {
        right: 16.6666666667%
    }
    .col-sm-pull-3 {
        right: 25%
    }
    .col-sm-pull-4 {
        right: 33.3333333333%
    }
    .col-sm-pull-5 {
        right: 41.6666666667%
    }
    .col-sm-pull-6 {
        right: 50%
    }
    .col-sm-pull-7 {
        right: 58.3333333333%
    }
    .col-sm-pull-8 {
        right: 66.6666666667%
    }
    .col-sm-pull-9 {
        right: 75%
    }
    .col-sm-pull-10 {
        right: 83.3333333333%
    }
    .col-sm-pull-11 {
        right: 91.6666666667%
    }
    .col-sm-pull-12 {
        right: 100%
    }
    .col-sm-push-0 {
        left: auto
    }
    .col-sm-push-1 {
        left: 8.3333333333%
    }
    .col-sm-push-2 {
        left: 16.6666666667%
    }
    .col-sm-push-3 {
        left: 25%
    }
    .col-sm-push-4 {
        left: 33.3333333333%
    }
    .col-sm-push-5 {
        left: 41.6666666667%
    }
    .col-sm-push-6 {
        left: 50%
    }
    .col-sm-push-7 {
        left: 58.3333333333%
    }
    .col-sm-push-8 {
        left: 66.6666666667%
    }
    .col-sm-push-9 {
        left: 75%
    }
    .col-sm-push-10 {
        left: 83.3333333333%
    }
    .col-sm-push-11 {
        left: 91.6666666667%
    }
    .col-sm-push-12 {
        left: 100%
    }
    .col-sm-offset-0 {
        margin-left: 0%
    }
    .col-sm-offset-1 {
        margin-left: 8.3333333333%
    }
    .col-sm-offset-2 {
        margin-left: 16.6666666667%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-4 {
        margin-left: 33.3333333333%
    }
    .col-sm-offset-5 {
        margin-left: 41.6666666667%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-7 {
        margin-left: 58.3333333333%
    }
    .col-sm-offset-8 {
        margin-left: 66.6666666667%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-10 {
        margin-left: 83.3333333333%
    }
    .col-sm-offset-11 {
        margin-left: 91.6666666667%
    }
    .col-sm-offset-12 {
        margin-left: 100%
    }
}

@media (min-width: 992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left
    }
    .col-md-1 {
        width: 8.3333333333%
    }
    .col-md-2 {
        width: 16.6666666667%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-4 {
        width: 33.3333333333%
    }
    .col-md-5 {
        width: 41.6666666667%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-7 {
        width: 58.3333333333%
    }
    .col-md-8 {
        width: 66.6666666667%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-10 {
        width: 83.3333333333%
    }
    .col-md-11 {
        width: 91.6666666667%
    }
    .col-md-12 {
        width: 100%
    }
    .col-md-pull-0 {
        right: auto
    }
    .col-md-pull-1 {
        right: 8.3333333333%
    }
    .col-md-pull-2 {
        right: 16.6666666667%
    }
    .col-md-pull-3 {
        right: 25%
    }
    .col-md-pull-4 {
        right: 33.3333333333%
    }
    .col-md-pull-5 {
        right: 41.6666666667%
    }
    .col-md-pull-6 {
        right: 50%
    }
    .col-md-pull-7 {
        right: 58.3333333333%
    }
    .col-md-pull-8 {
        right: 66.6666666667%
    }
    .col-md-pull-9 {
        right: 75%
    }
    .col-md-pull-10 {
        right: 83.3333333333%
    }
    .col-md-pull-11 {
        right: 91.6666666667%
    }
    .col-md-pull-12 {
        right: 100%
    }
    .col-md-push-0 {
        left: auto
    }
    .col-md-push-1 {
        left: 8.3333333333%
    }
    .col-md-push-2 {
        left: 16.6666666667%
    }
    .col-md-push-3 {
        left: 25%
    }
    .col-md-push-4 {
        left: 33.3333333333%
    }
    .col-md-push-5 {
        left: 41.6666666667%
    }
    .col-md-push-6 {
        left: 50%
    }
    .col-md-push-7 {
        left: 58.3333333333%
    }
    .col-md-push-8 {
        left: 66.6666666667%
    }
    .col-md-push-9 {
        left: 75%
    }
    .col-md-push-10 {
        left: 83.3333333333%
    }
    .col-md-push-11 {
        left: 91.6666666667%
    }
    .col-md-push-12 {
        left: 100%
    }
    .col-md-offset-0 {
        margin-left: 0%
    }
    .col-md-offset-1 {
        margin-left: 8.3333333333%
    }
    .col-md-offset-2 {
        margin-left: 16.6666666667%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-4 {
        margin-left: 33.3333333333%
    }
    .col-md-offset-5 {
        margin-left: 41.6666666667%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-7 {
        margin-left: 58.3333333333%
    }
    .col-md-offset-8 {
        margin-left: 66.6666666667%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-10 {
        margin-left: 83.3333333333%
    }
    .col-md-offset-11 {
        margin-left: 91.6666666667%
    }
    .col-md-offset-12 {
        margin-left: 100%
    }
}

@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left
    }
    .col-lg-1 {
        width: 8.3333333333%
    }
    .col-lg-2 {
        width: 16.6666666667%
    }
    .col-lg-3 {
        width: 25%
    }
    .col-lg-4 {
        width: 33.3333333333%
    }
    .col-lg-5 {
        width: 41.6666666667%
    }
    .col-lg-6 {
        width: 50%
    }
    .col-lg-7 {
        width: 58.3333333333%
    }
    .col-lg-8 {
        width: 66.6666666667%
    }
    .col-lg-9 {
        width: 75%
    }
    .col-lg-10 {
        width: 83.3333333333%
    }
    .col-lg-11 {
        width: 91.6666666667%
    }
    .col-lg-12 {
        width: 100%
    }
    .col-lg-pull-0 {
        right: auto
    }
    .col-lg-pull-1 {
        right: 8.3333333333%
    }
    .col-lg-pull-2 {
        right: 16.6666666667%
    }
    .col-lg-pull-3 {
        right: 25%
    }
    .col-lg-pull-4 {
        right: 33.3333333333%
    }
    .col-lg-pull-5 {
        right: 41.6666666667%
    }
    .col-lg-pull-6 {
        right: 50%
    }
    .col-lg-pull-7 {
        right: 58.3333333333%
    }
    .col-lg-pull-8 {
        right: 66.6666666667%
    }
    .col-lg-pull-9 {
        right: 75%
    }
    .col-lg-pull-10 {
        right: 83.3333333333%
    }
    .col-lg-pull-11 {
        right: 91.6666666667%
    }
    .col-lg-pull-12 {
        right: 100%
    }
    .col-lg-push-0 {
        left: auto
    }
    .col-lg-push-1 {
        left: 8.3333333333%
    }
    .col-lg-push-2 {
        left: 16.6666666667%
    }
    .col-lg-push-3 {
        left: 25%
    }
    .col-lg-push-4 {
        left: 33.3333333333%
    }
    .col-lg-push-5 {
        left: 41.6666666667%
    }
    .col-lg-push-6 {
        left: 50%
    }
    .col-lg-push-7 {
        left: 58.3333333333%
    }
    .col-lg-push-8 {
        left: 66.6666666667%
    }
    .col-lg-push-9 {
        left: 75%
    }
    .col-lg-push-10 {
        left: 83.3333333333%
    }
    .col-lg-push-11 {
        left: 91.6666666667%
    }
    .col-lg-push-12 {
        left: 100%
    }
    .col-lg-offset-0 {
        margin-left: 0%
    }
    .col-lg-offset-1 {
        margin-left: 8.3333333333%
    }
    .col-lg-offset-2 {
        margin-left: 16.6666666667%
    }
    .col-lg-offset-3 {
        margin-left: 25%
    }
    .col-lg-offset-4 {
        margin-left: 33.3333333333%
    }
    .col-lg-offset-5 {
        margin-left: 41.6666666667%
    }
    .col-lg-offset-6 {
        margin-left: 50%
    }
    .col-lg-offset-7 {
        margin-left: 58.3333333333%
    }
    .col-lg-offset-8 {
        margin-left: 66.6666666667%
    }
    .col-lg-offset-9 {
        margin-left: 75%
    }
    .col-lg-offset-10 {
        margin-left: 83.3333333333%
    }
    .col-lg-offset-11 {
        margin-left: 91.6666666667%
    }
    .col-lg-offset-12 {
        margin-left: 100%
    }
}